/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* line 8, ../sass/_base.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
